@use "./variables" as *;

.header {
  max-width: 768px;
  margin: auto;
  padding: $spacer;
}

/*.footer {
  max-width: 768px;
  margin-inline: auto;
  margin-top: $spacer-half;
  padding-inline: $spacer;
  padding-block: $spacer-half;
  background-color: $dark-1;
  display: flex;

    a {
      font-size: 1px;
    }

    svg:hover {
        color: green;
    }
}*/

.social-icon {
  height: 25px;
  width: auto;
  margin-right: $spacer-half;
}

.container-wrapper {
  background-color: $dark-1;
  padding: $spacer;
}

.container-wrapper {
  article {
    margin-bottom: $spacer*2;

    a {
      text-decoration: none;

      &:hover {
        color: rgba($primary, 0.7);
      }
    }
  }
  article:last-child {
    margin-bottom: 0;
  }
}

.article-toprow {
  display: flex;
  justify-content: space-between;
}

.article-date {
  margin-bottom: $spacer-half;
  font-size: 0.9em;
  color: $primary;
}

.article-goback {
  margin-bottom: $spacer-half;
  font-size: 1em;
  color: $primary;
  text-decoration: none;

  &:hover {
    color: rgba($primary, 0.7);
  }
}

.article-content {
  p:not(:first-child) {
    margin-top: $spacer-half;
  }

  h2, h3 {
    margin-top: $spacer;
    margin-bottom: -$spacer-half;
  }
}

span + em {
  margin-bottom: $spacer-half;
  font-size: 0.9em;
  color: $primary;
}

em {

}
